//  Variables
$color_Primary : rgb(116, 114, 114);
$color_background : rgba(255, 255, 255, 0.678);
$color_button_footer : #b99470;
// Breakpoints
$xs-breakpoint : 575px;
$sm-breakpoint : 767px;
$md-breakpoint : 991px;
$lg-breakpoint : 1199px;