//sass sass/main.scss ./css/main.css /

@use "reset";

$color_Primary : grey;

.champ_form {
    margin: 1rem;

    input {
        width: 80%;
    }
}

nav {
    background-color: $color_Primary;
    color: white;
    font-size: 1rem;

    ul {
        li {
            display: inline-block;

            a {
                color: white;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}