//sass sass/main.scss ./css/main.css /

@use "reset";
@use "variables" as v;

.logo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    img {
        height: 4rem;
    }
}


.insert {
    background-image: url(/img/Lille-Seminaires.jpg);
    background-position: center;
    height: 50vh;
    position: relative;
    display: flex;
    .text-insert {
        background-color: white;
        position:absolute;
        top: 50%;
        bottom: 50%;
    }
}

.form_config {
    background-color: #1C1C1C;
    color: white;
}

.champ_form {
    margin: 0.2rem;
    padding: 3rem;

    input {
        width: 60%;
        height: 3rem;
    }
}

.buttonBrown {
    background-color: #b99470;
    margin-bottom: 1rem;

    a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        align-items: center;
    }

    &:hover {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }
}

nav {
    background-color: v.$color_Primary;
    color: white;
    font-size: 1rem;
    margin: 0;
    height: 5rem;

    li {
        display: inline-block;

        a {
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}