//sass sass/main.scss ./css/main.css /

@use "reset";
@use "variables" as v;

.logo {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .space_white {
        font-size: 1.5rem;

        a {
            text-decoration: none;
            color: white;
            justify-content: space-between;
            margin: 1rem;
        }
    }

    img {
        height: 2rem;
    }
}

nav {
    background-color: v.$color_Primary;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    margin: 0;
    height: 6rem;
    li {
        display: inline-block;

        a {
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.insert-two {
    background-image: url(/img/Lille-Hall.jpg);
    background-position: center;
    height: 50vh;
    position: relative;

    .text-insert {
        padding: 1rem;
        background-color: v.$color_background;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.insert {
    background-image: url(/img/Lille-Seminaires.jpg);
    background-position: center;
    height: 50vh;
    position: relative;

    .text-insert {
        padding: 1rem;
        background-color: v.$color_background;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.form_config {
    background-color: #1C1C1C;
    color: white;
    padding: 1rem;
    align-items: center;

    @media screen and (min-width: v.$md-breakpoint) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .champ_form {
        @media screen and (min-width: v.$md-breakpoint) {
            margin: 1rem;
        }

        input,
        select {
            width: 100%;
            height: 3rem;
        }
    }
}

.buttonBrown {
    @media screen and (min-width: v.$md-breakpoint) {
        margin: 1rem;
    }

    background-color: v.$color_button_footer;
    padding: 1rem;
    display: flex;
    justify-content: center;
    margin: 1.5rem 0rem;
    #valueRegister {
        text-decoration: none;
        color: white;
    }
}

footer{
    background-color: v.$color_button_footer;
    height:  20vh;
    padding: 1rem;
}